# Python related
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
.venv.bak/

# uv
uv.lock

# Jupyter Notebook
.ipynb_checkpoints/

# IDE - VS Code
.vscode/

# PyBuilder
target/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Distribution / packaging
.Python
dist/
build/
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Credentials
.env

# Temp export
.export-tmp/

# Auto-downloaded binaries
.bin/

# Node
node_modules/